.orange {
  color: orange;
  font-size: 50px;
  font-weight: 600;
}

.waterMelon {
  color: crimson;
  font-size: 20px;
  font-weight: 700;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
}
